@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Shadows Into Light', cursive, sans-serif;
}

h1 {
    font-family: 'Shadows Into Light', cursive, sans-serif;
    font-size: 7rem;
    font-weight: 200;
    color: purple;
}

body {
    background-color: whitesmoke;
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(117, 139, 174, 0.397), rgba(0,0,0,0.75)), url(../images/dancebackground.jpeg);
    background-size: cover;
    background-position: center;
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 30px;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: "";
    height: 3px;
    width: 0;
    background: purple;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;

}
