@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Oswald, sans-serif;
    font-weight: 300;
    color: darkbrown;
}

/* headings and logo */

h1, h2 {
    font-family: Shadows Into Light, sans-serif;
    letter-spacing: 4px;
}

#logo {
    float: left;
    font-size: 300%;
}

#menu {
    font-size: 110%;
    letter-spacing: 1px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: white;
}

#menu a:hover {
    border-bottom: 1px solid white;
}

.active {
    border-bottom: 1px solid darkbrown; 
}

/* dancing couple image */

#dancing-couple-image {
    height: 600px;
    width: 100%;
    background: url(../images/dancing\ couple.jpeg) no-repeat center center;
}