@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Oswald, sans-serif;
    font-weight: 300;
    color: darkbrown;
}

/* headings and logo */

h1, h2 {
    font-family: Shadows Into Light, sans-serif;
}

#logo {
    float: left;
    font-size: 300%;
}